<% layout("layouts/boilerplate") %>

  <div class="row mt-5">
    <div class="alert alert-danger col-12 offset-0" role="alert">

      <p class="alert-heading">
        <%= message %>
      </p>

    </div>
  </div>